@model IEnumerable<DotNetCoreMVCProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<button type="button" class="btn btn-info addProductbtn" data-toggle="modal" data-target="#addProduct">
    Add product
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>

            <button type="button" class="btn btn-success editProductBtn" data-toggle="modal" data-target="#editProduct" data-url="@Url.Action($"EditItem", new { id = item.Id })">
                        Edit
            </button> |

            <button type="button" class="btn btn-light detailsProduct" data-toggle="modal" data-target="#detailsProduct" data-url="@Url.Action($"GetOneItem", new {id = item.Id})" >
                    Details
            </button> |
            <button type="button" class="btn btn-danger removeProductbtn" data-toggle="modal" data-target="#deleteProduct" data-url="@Url.Action($"RemoveItem", new { id = item.Id })">
                    Delete
            </button> 
            </td>
        </tr>
}
    </tbody>
</table>


@await Html.PartialAsync("_ProductsPv", new Product())

<div id="editSection">

</div>

@section Scripts{
    <script type="text/javascript">
        $(".addProductbtn").click(function (e) {
           $("#addProduct").modal("show");
        });

        $(".closebtn").click(function (e) {
           $("#addProduct").modal("hide");
        });

        //edit pv
         $(".editProductBtn").click(function (e) {
            e.preventDefault();

            const url = $(this).data("url");

            $.get(url,function(data){
                $("#editSection").html(data);
                $("#editProduct").modal("show");


                $(".editClosebtn").click(function (e) {
               
                   $("#editProduct").modal("hide");

                });
            })
        });


        $(".removeProductbtn").click(function (e) {
            e.preventDefault();

            const url = $(this).data("url");

            $.get(url,function(data){
                $("#editSection").html(data);
                $("#RemoveProduct").modal("show");


                $(".removeClosebtn").click(function (e) {

                   $("#RemoveProduct").modal("hide");

                });
            })
        });


        $(".detailsProduct").click(function (e) {
            e.preventDefault();

            const url = $(this).data("url");

            $.get(url,function(data){
                $("#editSection").html(data);
                $("#ProductProfile").modal("show");


                $(".ProfileClosebtn").click(function (e) {

                   $("#ProductProfile").modal("hide");

                });
                $(".editProductBtn").click(function (e) {
                $("#ProductProfile").modal("hide");
                e.preventDefault();

                const url = $(this).data("url");

                 $.get(url,function(data){
                    $("#editSection").html(data);
                   
                    $("#editProduct").modal("show");


                $(".editClosebtn").click(function (e) {

                   $("#editProduct").modal("hide");
                    
                });
            })
        });
            })
        });


    </script>
}