@model IEnumerable<DotNetCoreMVCProject.Models.TheClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addClassModal" onclick="addClass()">
        Add Class
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td>
                    <button type="button" class="btn btn-success editProductBtn" data-toggle="modal" data-target="#editProduct" onclick="editClass(@item.Id)">
                        Edit
                    </button> |

                    <button type="button" class="btn btn-light detailsProduct" data-toggle="modal" data-target="#detailsProduct" onclick="detailsClass(@item.Id)">
                        Details
                    </button> |
                    <button type="button" class="btn btn-danger removeProductbtn" data-toggle="modal" data-target="#deleteProduct" onclick="deleteClass(@item.Id)">
                        Delete
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="classSection">

</div>

<script>
    function addClass()
    {
        $.ajax({
            type:"Get",
            url: "/ClassPopup/AddClass",
            success: function(result){
                $("#classSection").html(result);
                $("#addClassModal").modal('show');
            }
        })
    }

     function editClass(Id)
    {
        console.log("the id is :",Id)
        $.ajax({
            type:"Get",
            url: "/ClassPopup/Edit/" + Id,
            success: function(result){
                $("#classSection").html(result);
                $("#editClassModal").modal('show');
            }
        })
    }

    function deleteClass(Id)
    {
        console.log("the id is :",Id)
        $.ajax({
            type:"Get",
            url: "/ClassPopup/Delete/" + Id,
            success: function(result){
                $("#classSection").html(result);
                $("#deleteClassModal").modal('show');
            }
        })
    }

    function detailsClass(Id)
    {
        console.log("the id is :",Id)
        $.ajax({
            type:"Get",
            url: "/ClassPopup/Details/" + Id,
            success: function(result){
                $("#classSection").html(result);
                $("#detailsClassModal").modal('show');
            }
        })
    }


</script>